.home {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hero__1__container {
   padding-top: 44px;
   width: 100%;
   height: 736px;

   background-image: url(../images/hero_iphone14_yellow__eun20sn4imi6_largetall.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

.hero__1__content > img {
   width: 10%;
   height: 10%;
}

.hero__2__container {
   margin-top: 0.8rem;
   width: 100%;
   height: 690px;

   background-color: black;
   background-image: url(../images/hero_iphone14pro_spring__9xo85pm6sbmm_large.jpg);
   background-repeat: no-repeat;
   background-position: bottom;

   color: #fff;
}

.hero__3__container {
   margin-top: 0.8rem;
   width: 100%;
   height: 690px;

   background-image: url(../images/hero_macbook_air_15_announce__fz5mtxnl9l6q_largetall.jpg);
   background-repeat: no-repeat;
   background-position: bottom;
}

.hero__2__container .fff {
   color: #fff;
}

.home h1 {
   pointer-events: none;
   font-size: 56px;
   line-height: 1.07143;
   font-weight: 600;
   letter-spacing: -.005em;
   color: #1d1d1f;
   padding-top: 47px;
}

.home .subhead {
   font-size: 28px;
   line-height: 1.10722;
   font-weight: 400;
   margin-top: 6px;
}

.home .hero__links {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;

   font-size: 21px;
   font-weight: 400;
   letter-spacing: 0.011em;
   margin-top: 0.65em;
}

.hero__link__div {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: center;
}

.hero .hero__links a {
   color: #06c;
}

.hero__links a:hover {
   text-decoration: underline;
}

.hero__links a:visited {
   color: #06c;
}

.hero__4__container__grid {
   width: 100%;
   padding: 12px;
   display: grid;
   grid-template-columns: 49.7% 49.7%;
   grid-column-gap: 12px;
   grid-row-gap: 12px;

}

.hero__4__container__grid > div {
   padding: 20px;
   height: 580px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;


   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: local;
}

.hero__4__content {
   color: #fff;

   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   font-size: 20px;

   margin-top: 40px;
}

.hero__4__content__light {
   color: #1d1d1f;
}

.hero__4__content h4 {
   font-size: 40px;
}

.hero__4__content a {
   font-size: 1rem;
   font-weight: 500;
}

.hero__4__content .series8 {
   z-index: 0;
   font-size: 13px;
   font-weight: bold;
   letter-spacing: 0.09rem;
   color: #bf1f25;
   text-shadow: 1px 1px #bf1f25;
   transform: translateY(-12px);
}

.hero__4__watch {
   background-image: url(../images/promo_apple_watch_series_8_spring__d9hfvufh7hyu_large.jpg);
}

.h4__watch, .h4__watch > h4 {
   display: flex;
   justify-content: center;
   letter-spacing: 0.1em;
   font-size: 1.7rem;
   gap: 0.2rem;

}

.h4__watch .apple__logo {
   transform: translateY(-2px);
}

.m2logo__div {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
}



.hero__4__ipadpro {
   background-image: url(../images/promo_ipadpro__ch217v9v7no2_large.jpg);
}

.hero__4__macstudio {
   background-image: url(../images/promo_mac_studio_announce__do7xnc8z5mgm_large.jpg);
   color: #1d1d1f;
}

.hero__4__macpro{
   background-image: url(../images/promo_mac_pro_announce__dd118zq1ap6q_large.jpg);

}

.hero__4__airpodspro {
   background-image: url(../images/promo_airpods_pro_avail__gaxggskofx6y_large.jpg)
}

.hero__4__fitness {
   background-image: url(../images/promo_fitness__e3pj2kkbjoom_large.jpg);
}

.hero__4__fitness .h4__fitness {
   display: flex;
   justify-content: center;
   font-size: 1.7rem;
   gap: 0.2rem;
}


.hero__4__fitness .apple__logo {
   transform: translateY(5px);
}


@media (max-width: 990px) {
   .hero__1__container {
      background-image: url(../images/hero_iphone14_yellow__2.jpg);
      background-repeat: no-repeat;
      background-position: center;
   }

   .hero__2__container {
      background-image: url(../images/hero_iphone14pro_2.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
   }

   .hero__3__container {
      background-image: url(../images/hero_macbook_air_15_2.jpg);
      background-repeat: no-repeat;
      background-position: bottom;
   }

   .hero__4__container__grid {
      display: flex;
      flex-direction: column;
   }
}
