.mac .carousel__container > a {
   text-decoration: none !important;
   color: black;
   transition: all .3s cubic-bezier(0,0,.5,1);
}

.mac .carousel {
   padding-bottom: 15px;
   padding-top: 15px;

   transition: all .3s cubic-bezier(0,0,.5,1);
}

.mac .carousel__container .title {
   align-self: flex-start;
   margin-left: 12.5%;
}

.carousel__item {
   display: flex;
   flex-direction: column;
   gap: 20px;

   color: #000;

   z-index: 2;

   background-color: #fff;

   width: 390px;
   height: 500px;

   padding: 40px !important;

   border-radius: 30px;

   transition: all .3s cubic-bezier(0,0,.5,1) !important;

   cursor: pointer;
   text-decoration: none;

}

.carousel div {
   transition: all .3s cubic-bezier(0,0,.5,1) !important;
}

.carousel > div:hover {
   transform: scale(1.01);
}

.carousel__item img {
   max-width: 70%;

   margin: auto;
}

.carousel__item .price {
   display: flex;
   justify-content: space-between;
}

.carousel__item .price .buy__btn {
   background-color: #0071e3;
   border: none;
   border-radius: 980px;
   box-shadow: 2px 4px 12px rgba(0,0,0,.08);

   color: #fff;
   font-weight: 400;
   font-size: 1rem;

   padding: 7px 15px;
   cursor: pointer !important;

   z-index: 3;
}

.carousel__item__2 {
   width: 480px;
   height: 500px;

   color: #000;
}

.content__1__aside__text a {
   color: #0071e3;
}

@media (max-width: 1000px) {


}
