.header {
   z-index: 6;
   position: fixed;

   display: flex;
   justify-content: center;
   align-items: center;

   width: 100%;
   height: 44px;

   font-family: 'SF-Light';
   font-size: 12px;
   letter-spacing: 1px;
   line-height: 1;
   color: #fff;
   background: rgba( 22, 22, 22, 0.8 );
   backdrop-filter: blur( 10.5px );
   -webkit-backdrop-filter: blur( 10.5px );

   transition: all 0.5s;
}

.header__container {
   display: flex;
   width: 980px;
   align-items: center;
   gap: 2.4rem;
   margin-left: 2rem;
   margin-right: 2rem;
   white-space: nowrap;
   outline-offset: -7px;
}

.header ul {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style-type: none;
   text-decoration: none;
   gap: 2.4rem;
}

#svg {
   fill: #fff;
}

.header a {
   color: #fff;
}

header .logo {
   font-size: 1.05rem;
}

header .search {
   font-size: 1.06rem;
}

header .cart {
   font-size: 1.06rem;
}

header .cart img {
   width: 16px;
}

.cart > a {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.2rem;
}

header .cart__quantity {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 1rem;
   height: 1rem;
   background-color: #fff;
   border-radius: 50%;
   color: #222222;

   font-size: 1rem;
   font-weight: 600;
}

header .cart__quantity__none {
   display: none;
}

.blur__on {
   width: 2000px;
   height: 2000px;
   z-index: 4;

   background: #ffffff30;
   backdrop-filter: blur( 10px );
   -webkit-backdrop-filter: blur( 10px );

   position: absolute;
   transition: all 1s;
}

.blur__off {
   display: none;
}

.hamburguer__btn {
   display: none;
}

.close__hamburguer__btn {
   display: none;
}

.close__hamburguer__btn__off {
   display: none;
}

.no__scroll {
   overflow: hidden;
}

@media (max-width: 1000px) {

   header .cart {
      display: none;
   }

   header .cart__quantity {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 0.9rem;
      height: 0.9rem;

      font-size: 0.8rem;

      position: absolute;
      top: 14px;
      right: 20px;
   }
}

@media (max-width: 990px) {
   header nav {
      display: none;
   }

   .hamburguer__btn {
      display: block;
   }

   .hamburguer__btn__off {
      display: none;
   }

   .close__hamburguer__btn {
      display: block;
   }

   .close__hamburguer__btn__off {
      display: none;
   }

   .header__container {
      justify-content: space-between;
   }

   .search {
      display: none;
   }
}
