.mobile__nav__off {
   position: fixed;
   transform: translateY(-800px);
   transition: all 0.5s;
   width: 100%;

   z-index: 5;

   position: fixed;
}

.mobile__nav__on {
   background: rgba( 22, 22, 22, 0.8 );
   backdrop-filter: blur( 10.5px );
   -webkit-backdrop-filter: blur( 10.5px );

   transition: all 0.5s;
   transform: translateY(0);

   width: 100%;
   height: 100%;

   margin-top: 44px;

   z-index: 5;

   position: absolute;

   position: fixed;
}

.mobile__nav__ul {
   padding: 2rem 4rem;
   list-style-type: none;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.mobile__nav__ul a {
   color: #fff;
}

.mobile__nav__ul li {
   font-size: 1.5rem;
   color: #fff;
}

.mobile__nav__ul li > img {
   width: 100px;
}

.close__btn {
   display: flex;
   justify-content: center;

   cursor: pointer;
}

.close__btn button {
   cursor: pointer;
   background-color: transparent;
   border: none;
   color: #fff;

   animation: float 4s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
