@font-face {
  font-family: SF-Regular;
  src: url('/public/fonts/SFUIDisplay-Regular.otf');
}

@font-face {
  font-family: SF-Light;
  src: url('/public/fonts/SFUIDisplay-Light.ttf');
}

* {
  margin: 0;
  padding: 0;
  overflow: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: SF-Regular;
}

body {
  overflow-x: hidden;
}

header {
  font-family: SF-Light;
}

a {
  text-decoration: none;
  color: #06c;
}

a:hover {
   text-decoration: underline;
}
